.sky {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    animation: sky 500s infinite linear alternate;
}

.star {
    will-change: transform;
    width: 0.1875rem;
    height: 0.1875rem;;
    border-radius: 50%;
    background-color: #fff;
}

.star--type-0 {
    animation:
    star-0 5s infinite ease alternate,
    opacity 2s infinite linear alternate,
    color 30s infinite ease alternate;
}

.star--type-1 {
    animation:
    star-0 8s infinite ease alternate-reverse,
    opacity 2s infinite linear alternate-reverse,
    color 30s infinite ease alternate-reverse;
}
.star--type-2 {
    animation:
    star-0 12s infinite ease alternate,
    opacity 2s infinite linear alternate,
    color 20s infinite ease alternate;
}
@keyframes star-0 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2);
    }
}
@keyframes star-1 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2);
    }
}
@keyframes star-2 {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes color {
    0% {
        background-color: #fff;
    }
    25% {
        background-color: #f8baba;
        }
    50% {
        background-color: #f9fabd;
        }
    75% {
        background-color: #c7cffa;
    }
}
@keyframes opacity {
    0% {
        opacity: 0.5;
    }
    80% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes sky {
    0% { 
        transform: scale(1);
    }
    100% {
        transform: scale(3);
    }
}






.text {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 1550px;
    bottom: 730px;
}
.text h1{
    font: 600;
    color: white;
    font-size: 60px;
    margin: 0;
}
.text p {
    color: yellow;
    font: 600;
    font-size: 20px;
    
}



.solaris {
    display: flex;
}
.sun {
    position: fixed;
    bottom: -180px;
    margin: 0 auto;
    left: -1100px;
    width: 1278px;
    height: 1278px;
    border-radius: 50%;
    background-image: linear-gradient(to left top, #ffde00, #dc9727, #a35d31, #5b3229, #111010);
    box-shadow: 0 0 40px 0 #ffde00,
    0 0 60px 0 lightcoral;
    animation: shine 4s ease-in-out infinite;
    border: none;
    
}
.merkurius {
    position: absolute;
    bottom: 430px;
    left: 300px;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    background-image: linear-gradient(to right bottom, #888888, #676767, #494848, #2c2b2b, #111010);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.merkurius:hover {
    box-shadow: 0 0 15px 7px rgba(136, 136, 136, 1);
    transition: 1s;
}
.venus {
    position: absolute;
    bottom: 422px;
    left: 450px;
    margin: 0 auto;
    width: 34px;
    height: 34px;
    background-image: linear-gradient(to right bottom, #e7cdcd, #ab9898, #736767, #3f3939, #111010);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.venus:hover {
    box-shadow: 0px 0px 20px 7px rgba(231, 205, 205, 1);
    transition: 1s;
}
.earth {
    position: absolute;
    bottom: 420px;
    left: 630px;
    margin: 0 auto;
    width: 42px;
    height: 42px;
    background-image: linear-gradient(to right bottom, #0273ee, #005ab2, #004078, #002642, #020911);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.earth:hover {
    box-shadow: 0 0 20px 7px rgba(66, 142, 212, 1);
    transition: 1s;
}
.mars {
    position: absolute;
    bottom: 425px;
    left: 815px;
    margin: 0 auto;
    width: 20px;
    height: 20px;
    background-image: linear-gradient(to right bottom, #ef5f5f, #b24b4d, #793739, #432425, #111010);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.mars:hover {
    box-shadow: 0px 0px 20px 7px rgba(239, 95, 95, 1);
    transition: 1s;
}
.jupiter {
    position: absolute;
    bottom: 340px; 
    left: 955px;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(to right bottom, #e29468, #ac6d56, #764b42, #422c2a, #111010);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.jupiter:hover {
    box-shadow: 0px 0px 20px 7px rgba(226, 148, 104, 1);
    transition: 1s;
}
.saturn {
    position: absolute;
    bottom: 375px;
    left: 1300px;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-image: linear-gradient(to right bottom, #c7aa72, #9e7b5b, #705344, #402f2c, #111010);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.saturn:hover {
    box-shadow: 0px 0px 20px 7px rgba(199, 170, 114, 1);
    transition: 1s;
}
.uranus {
    position: absolute;
    bottom: 395px;
    margin: 0 auto;
    width: 66px;
    height: 66px;
    background-image: linear-gradient(to right bottom, #c9d4f1, #929db6, #5f6a7e, #303a4a, #030f1c);
    border-radius: 50%;
    left: 1550px;
    border: none;
    cursor: pointer;
}
.uranus:hover {
    box-shadow: 0px 0px 20px 7px rgba(201, 212, 241, 1);
    transition: 1s;
}
.neptune {
    position: absolute;
    bottom: 395px;
    left: 1750px;
    margin: 0 auto;
    width: 66px;
    height: 66px;
    background-image: linear-gradient(to right bottom, #7a91a7, #696b7d, #514953, #322b2e, #111010);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.neptune:hover {
    box-shadow: 0px 0px 20px 7px rgba(122, 145, 167, 1);
    transition: 1s;
}

/* ------------------------------------------------------------------- */

.modal {
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    color: white;
    height: 70%;
    width: 100%;
    max-width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    display: none;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
     padding: 10px 15px;
     
     
}
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    color: white;
}
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 27px;
    left: 1480px;
}
.modal-body {
    padding: 10px 15px;  
} 


.status {
    display: flex;
    flex: 1 1 50%
}

.moons {
    padding: 15px;
}
.moons p {
    width: 80%;
}

h2 {
    width: 100%;
}
.search-bar {
    position: absolute;
    top: 20px;
    right: 700px;
    width: 400px;
    background-image: linear-gradient(to right, #f6d709, #e6a01c, #c6702a, #9a472e, #672828);
    border-radius: 10px;
    opacity: 0.7;
    z-index: 10;
}

.row {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
input {
    flex: 1;
    height: 40px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}
.searchBtn {
    position: relative;
    left: 110px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: transparent;
}
.searchBtn.fa-solid {
    width: 25px;
    color: white;
    font-size: 22px;
    
}
.searchBtn:hover {
    box-shadow: 0px 0px 20px 0px;
    cursor: pointer;
}
::placeholder {
    color: black;
}
.search-result ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.search-result ul li {
    list-style: none;
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
}
.search-result ul li:hover {
    background: lightblue;
}
/* -------------------------------------------------------- */

#overlay { 
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

